
<div class="is-fullwidth has-background-white p-1 mt-2">

  <p class="has-text-centered"><iframe src="https://ghbtns.com/github-btn.html?user=leeloomina&type=follow" frameborder="0" scrolling="0" width="170" height="20" title="GitHub"></iframe></p>

</div>
  <!-- Place this tag in your head or just before your close body tag. -->



<!--
  <nav class="tabs is-fullwidth">
    <div class="container">
      <ul>
        <li class="is-active"><a class="navbar-item" routerLink="/"
          routerLinkActive="active">Home</a></li>
        <li><a class="navbar-item" routerLink="/projects"
          routerLinkActive="active">Projects</a></li>
        <li><a class="navbar-item" routerLink="/todolist"
          routerLinkActive="active">To Do List</a></li>

      </ul>
    </div>
  </nav> -->

