<!-- <div class="field">
  <label class="label">Name</label>
  <div class="control">
    <input class="input" type="text" placeholder="e.g Alex Smith">
  </div>
</div> -->

<!-- <div>
<div class="field">
  <form (ngSubmit)="authService.onSubmitAuth(authForm)" #authForm="ngForm">
    <label class="label">Email:</label>
  <input type="email"
  class="input is-rounded"
  ngModel
  required
  email>

  <div class="field">
  <input type="password"
  class="input is-rounded"
  ngModel
  required
  password>

</div> -->

<section class="hero is-primary is-fullheight">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-5-tablet is-4-desktop is-3-widescreen">
          <form (ngSubmit)="onSubmitAuth(authForm)" #authForm="ngForm">
            <div class="box is-light">
              <label class="label m-2">Email:</label>

              <div class="control">
                <input
                  class="input is-rounded m-1"
                  type="email"
                  #email="ngModel"
                  ngModel
                  name="email"
                  placeholder="you@test.com"
                  required
                  email
                />
              </div>
              <div *ngIf="!email.valid">
                <p class="is-size-7 ml-3">Valid email required</p>
              </div>

              <label class="label m-2">Password:</label>

              <div class="control">
                <input
                  class="input is-rounded m-1"
                  type="password"
                  placeholder="Make it a good one"
                  #password="ngModel"
                  ngModel
                  name="password"
                  required
                  password
                  minlength="6"
                />
                <div *ngIf="!password.valid">
                  <p class="is-size-7 ml-3">Must be at least 6 characters</p>
                </div>
              </div>

              <button
                type="submit"
                class="button is-primary m-3"
                [disabled]="!authForm.valid"
              >
                Submit
              </button>
            </div>
          </form>

          <div class="column">
            <button type="button" (click)="authService.GoogleAuth()">
              Log in with Google
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
