
<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item">
      <img src="assets/logo.png" >
    </a>

    <a
    role="button"
    class="navbar-burger"
    aria-label="menu"
    aria-expanded="false"
    data-target="navbarBasicExample"
    [class.is-active]="showBurgerMenu"
    (click)="showBurgerMenu = !showBurgerMenu">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>

    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu"  [class.is-active]="showBurgerMenu">
    <div class="navbar-start">
      <a class="navbar-item" routerLink="/"
      routerLinkActive="active">
        Home
      </a>

      <a class="navbar-item" routerLink="/projects"
      routerLinkActive="active">
        Projects
      </a>

      <a class="navbar-item" routerLink="/todolist"
      routerLinkActive="active">
        To Do List
      </a>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          More
        </a>

        <div class="navbar-dropdown">
          <a class="navbar-item">
            About
          </a>
          <hr class="navbar-divider">
          <a class="navbar-item">
            Report an issue
          </a>
        </div>
      </div>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">

          <button class="button" (click)="onClick()">Login/out test</button>
          <div *ngIf="isLoggedin">
          <a class="button is-primary" routerLink="/edit-project"><strong>Add a new project</strong></a>
          <a class="button is-light"
          routerLink="/logout">
            Log Out
          </a>
          <img class="m-1" src="assets/avatar-placeholder.png" routerLink="/profile"></div>

          <div *ngIf="isLoggedin === false">
          <a class="button is-primary"
          [routerLink]="['/sign', 'up']">
            <strong>Sign up</strong>
          </a>
          <a class="button is-light" [routerLink]="['/sign', 'in']">
            Log in
          </a>
          </div>

        </div>
      </div>
    </div>
  </div>
</nav>

