
<section class="hero is-primary is-fullheight">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-10-tablet is-10-desktop">
            <div class="box is-light">
<div class="field">
  <h1 class="title has-text-black">
    <p>Add or Edit Project</p>
    <p>{{ID}}</p>
  </h1>

  <form (ngSubmit)="onSubmit(addProject)" #addProject="ngForm">
    <div class="field">
      <label class="label">Project Name:</label>
      <div class="control">
        <input name="projectName" class="input" ngModel required>
      </div>
    </div>

    <label class="label">Description:</label>
    <textarea name="projectDes" class="textarea" ngModel></textarea>

    <label class="label">Allowed Users:</label>
    <textarea name="allowedUsers" class="textarea" ngModel></textarea>


    <button type="submit" class="button is-primary">Add Project</button>
  </form>
</div></div></div></div></div></div></section>

