<html>

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>ProjectBox</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">

</head>

<body class="has-background-primary">

  <div class="container is-fullheight" id="contain">
    <div class="columns is-centered">
      <div class="column has-text-centered"><div class="box is-light">


          <h5 class="title has-text-black">Thanks for joining us.</h5>

        <div class="column">


          <p class="has-text-black">You have X items on your todo list!</p>



        </div>
        <div class="column">


          <p class="has-text-black">You have X projects!</p>

   <p class="has-text-black" routerLink="/projects">Ready to <strong><span class="has-text-primary">get started?</span></strong>
          </p>


        </div></div>

      </div>
      </div>


