<section class="section is-centered is-max-desktop">
<section class="hero is-primary is-fullheight">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-10-tablet is-10-desktop">
            <div class="box is-light">

<section class="section is-centered ">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-half">
  <h1 class="title">[UserName]'s Project List</h1>
  <h1 class="title has-text-black">[UserName]'s Project List</h1>
  <p class="subtitle">
    Click on a project to see the current issues.
  </p>
  </div>
  </div>
  </div>
</section>


<div *ngFor="let project of projectList">
<div class="columns is-centered">
    <div class="column container is-max-desktop">
      <header class="card-header has-background-primary">
        <p class="card-header-title is-primary">
         <a routerLink="/project-view">{{ project.name }}</a>
          <p (click)="this.projectService.deleteProject(project)">X</p>
      </header>

      <div class="card">
        <div class="card-content">
          <div class="content">
            <p>{{ project.description }}</p>
            <p>Allowed: {{ project.allowedUsers }}</p>
            <p>ID: {{ project.ID }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>


