<body class="has-background-primary">
  <div class="container is-fullheight is-centered">
    <div class="columns is-centered">
      <div class="column">
        <div class="box is-light box-title">
          <nav class="breadcrumb" aria-label="breadcrumbs">
            <ul>
              <li><a routerLink="/projects" routerLinkActive="active">Project List</a></li>
              <li><a class="is-active"> {{projectName}}</a></li>
            </ul>
          </nav>
          <div class="column has-text-right">
            <button class="button is-primary" [routerLink]="['/add-issue', ID]">Add A New Issue</button>
          </div>
        </div>
      </div>
    </div>


      <!-- <input [(ngModel)]="user"><button (click)="onClickSearch()">Filter</button> -->

      <div class="box">
        <div *ngFor="let issue of issueList">
          <div class="columns is-centered">
            <div class="column is-vcentered">
              <header class="card-header has-background-primary">
                <p class="card-header-title is-primary">
                  <a [routerLink]="['/issue-details', issue.ID]">{{ issue.title }}</a>
                <div class="is-right px-2 py-2">
                  <button class="delete is-large" (click)="onDelete(issue)"></button>
                </div>
              </header>

              <div class="card">
                <div class="card-content">
                  <div class="content">
                    <p>{{ issue.description }}</p>
                    <p>Posted By: {{ issue.user}}</p>
                    <p>ID: {{ issue.ID }}</p>
                  </div>
                  <button>Claim Issue</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
