/* tr:nth-child(even) {
  background-color: #f2f2f2;
} */


.a:hover{
  background-color:red;
}

.is-fullheight{
  min-height: 91vh;
  width: 100vw;
}

.box{
  margin: 0vh;
  margin-left:auto;
  margin-right:auto;
}

td {
  width:0.1%;
  white-space: nowrap;
  }

  tr.strikeout td:before {
    content: " ";
    position: absolute;
    top: 50%;
    left: 0;
    border-bottom: 1px solid #111;
    width: 100%;
  }

  tr.strikeout td:after {
    content: "\00B7";
    font-size: 1px;
  }
