.is-fullheight{
  height: 91vh
}


@media only screen and (max-device-width: 480px) {
  .is-fullheight{
    height: 87vh;
  }
  .box{
    margin: 0px;
  }
}

.box{
  margin-top: 3vh;
}

li {

  margin-left: 20px;
  margin-top: 10px;
  list-style-type: square;
}
