<html>

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>ProjectBox</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">

</head>

<body class="has-background-primary">

  <div class="container is-fullheight" id="contain">
    <div class="columns is-centered">
      <div class="box is-light">


          <h1 class="title has-text-black pb-1">Welcome!</h1>
          <div class="subtitle has-text-black">
            <p>
              <strong class="has-text-black">ProjectBox</strong> is a collaborative system for task planning.
            </p>
            <ul>
              <li>
                Record your <strong class="has-text-black">ideas</strong>
              </li>

              <li>
                Map out new <strong class="has-text-black">features</strong>
              </li>

              <li>
                Keep track of pesky <strong class="has-text-black">bugs</strong>

              </li>

            </ul>
          </div>
          <button class="button is-primary m-2" [routerLink]="['/sign', 'up']">Sign Up Now</button>
          <p>
            <strong><span class="has-text-primary">Learn</span></strong> more about us, or
            <strong><span class="has-text-primary">take a tour</span></strong>?
          </p>



        </div>

      </div>
      </div>





</body>
