<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Project Issue Tracker</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  </head>
  <body>
    <section class="hero is-primary is-fullheight">
      <div class="hero-body">
        <div class="container">
          <div class="columns is-centered">
            <div class="column is-10-tablet is-10-desktop">
                <div class="box is-light">

      <h1 class="title has-text-black">
        Hello there!
      </h1>
      <p class="subtitle has-text-black">
        Welcome to your <strong class="has-text-black">issue tracking system</strong>!
      </p>
      <p><span class="has-text-primary">Learn</span> about this project, or <span class="has-text-primary">take a tour</span>?</p>
    </div>
 </div></div></div></div></section>
